html, body{
    background-color: black;
    margin:0;
    padding: 0;
    overflow: auto;
    
    
}


.header{
width: 100%;
height: 180px;
background-color: black;
align-items:center;
display: flex;
justify-content:space-between;
}

.addbutton{
height: auto;
width: 200px;
background-color: black;
color: white;
font-size: 30px;
text-align: center;
border-radius: 20px;
font-size: 30px;
}

.line{
width: 100%;
height: 10px;
background-color: palevioletred;
}

.bottom-header{
border-radius: 70px;
width: 40%;
height: auto;
background-color: palevioletred;
color:black;
font-size: 30PX;
display: FLEX;
flex-direction: column;
align-items:center ;
text-align: center;
}

.img-burger img{
    width:200px ;
    height: 180px;
}

.other-info{
width: 80%;
height: auto;
background-color: lightcoral;
display: flex;
align-items: center;
margin-bottom: 50px;
text-align: left;
color: black;
}

.other-info img{
width:40% ;
height: 30%;
margin-left: 10px;
margin-right: 10px;

}

.other-info, p{
font-size: larger;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info1{
width: 100%;
height: 180px;
font-size: 100px;
color: white;
text-align: center;
}

.info1, p{
font-size: larger;
}

h1{
    font-size: 80px;
}



.burger-info{
    width: auto;
    height: auto;
    background-color: lightcoral;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    font-size: larger;
    border-radius: 30px;
    align-items: center;
    
}

.burger-info h3{
font-size: 40px;
margin-left: 20px;
margin-right: 20px;
}

.burger-info img{
height: 280px;
width: 40%;
margin-top: 40px;
margin-right:10px;
margin-left: 10px;
margin-bottom: 20px;
}

.dropdown{
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content{
    display: none;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropbtn{
width: 300px;
height: 80px;
background-color: palevioletred;
color: black;
font-size: 20PX;
}

.cartcontrolls{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 130px;



}

.back{
border-radius: 15px;
margin-right: 50px;
align-items: center;
width: auto;
height: auto;
background-color: palevioletred;
font-size: 90px;
}

.submit{
border-radius: 15px;
margin-left: 50px;
align-items: center;
width: auto;
height: auto;
background-color: palevioletred;
font-size: 90px;
}

button:hover{
background-color: brown;
color:white;
}
